body,html{
    margin:0;
    padding:0;
}

body{

    display:grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows:200px 600px 200px;
}

.sidebar{
    background-color:#3d478cc9;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    color:white;
    grid-row-start:1;
    grid-row-end:4;

    grid-template-columns: 1fr;
    grid-template-rows:100px 400px 200px;
    gap:10px;

}

.icon{

    width:24px;
    height:24px;
    color:white;
}



.dashboard-icon{

    width:50px;
    height:50px;
}

.dashboard-icon +h3{

  font-size: 24px;
}

.nav-bar{

    display:flex;
    gap:15px;
    justify-content: flex-start;
    align-content: center;
    text-align: center;

    margin-left:20px;
    box-sizing: content-box;

}

.nav-bar:hover{

    margin-left:40px;
    background-color:#b1b9e7c9;
    border-radius:3px;
    color:rgb(194, 242, 163);
    transition: all 0.1s linear;
}

.nav-bar-small{

    margin-left:34px;
}

.option{
    grid-row-start: 2;
    grid-row-end: 3;
}
.config{
    grid-row-start: 3;
    grid-row-end: 4;
}
.icon{

align-self: center;
}
h3{
    align-self: center;
}

.header{

    height:300px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:3;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    gap:25px;

    background-color:#f0fdf4;
    box-shadow: 1px 1px 12px -12px white;
    
}



.first{
    display:grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end:2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    justify-items: center;
    align-items: center;
    gap:24px;
}

.second{
    display:grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end:3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
}
.greetings{
    display:flex;
    justify-content:center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
    gap:30px;
}
.greetings img{

    width:80px;
    height:80px;
    border-radius:50%;
}

.greetings-you{
    line-height: 7px;;
}

.greetings-you>p:first-of-type{

    font-weight: bold;
    font-size: medium;
}

.greetings-you>p:first-of-type+p{

    font-weight: bold;
    font-size: 24px;;
}

.upload{

    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:1fr;
    gap:10px;
    margin-left:80px;
}

.new,.uploaded,.share{

    width:120px;
    height:50px;
    margin-top:20px;
    border-radius:30px;
    border:none;
    background-color: #c0ea5e;
    color:rgb(229, 26, 151);
    font-weight:500;
    font-size: 20px;;
}

.new:hover,.uploaded:hover,.share:hover{

    transform: scale(1.1);
    background-color: #b4e252;
    color: rgb(34, 35, 33);
    border:0.5px solid rgb(4, 50, 4);
}


.search-bar{

    width:600px;
    height:40px;
    border-radius: 30px;
    border:none;
    background-color: #fff1f2;
}

.search-bar:focus-within{

border:1px solid greenyellow;
}

.search{

    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-left:-10px;
}

.name-photo{


    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    justify-self: center;
    gap: 40px;
    margin-left:240px;
}

.name{
    font-weight: bold;
    font-size: 20px;
}

.name-photo img:nth-child(2){


    height:50px;
    width:50px;
    border-radius: 50%;
}

.greetings{

    margin-left:48px;
    margin-bottom:10px;
}

.greetings img:hover{

    transform: scale(1.5);
    transition: all 0.5s ease-in-out 0.1s;
}




.main{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:4;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(auto-fit,minmax(150px,1fr));
    background-color:#dcdce6;
    gap:10px;
    padding:5px 20px;
}

.projects{

    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 1;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr;
}

.projects > p{
    grid-column-start:1;
    grid-row-end: -1;
    grid-row-start: 1;
    grid-row-end:2;
}



.updates{

    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 1;
    display:gird;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
}

.cards{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}

.card{

    width:300px;
    height:200px;
    border-radius:5px;
    border-left: 10px solid #ef4444;
    padding:12px;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #c9c9cd;
}

.card:hover{

    transform: scale(1.1);
    transition: all 0.2s ease-out;
}


.announcements{

    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.announcement{

    padding-left:20px;
    padding-right:20px;
    line-height: 15px;;
}

.announcement >p:first-of-type{
    font-weight:500;
    margin-bottom:0;
}

.announcement >p:first-of-type +p{
    margin-bottom:0;
    margin-top:0;
    color:#6b7280;
    font-size: smaller;
}

.trending{

    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}  

 .announce-content{ 

    background-color: white;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    width:240px;
    box-shadow: 3px 3px 5px 2px #c9c9cd;
    border-radius:10px;
    box-sizing: border-box;
    text-align: left;

}

.trending-content{

    background-color: white;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    width:240px;
    box-shadow: 3px 3px 5px 2px #c9c9cd;
    border-radius:10px;
    box-sizing: border-box;
    text-align: left;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3,1fr);
}
hr{
    border: 0.5px solid rgb(211, 215, 211);
    border-radius: 5px;
    margin-top:15px;
}

.trend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top:18px;
    margin-bottom:18px;
    gap:16px;
}

.trend img{

    width:45px;
    height:45px;
    border-radius: 50%;
    margin-left: 18px;
    background: transparent;
}

.username{

    line-height: 0px;
    
}
.username>p:first-of-type{

    font-weight: 500;
    color:#262626;
    font-size:small;
}
.username>p:last-of-type{

    font-weight: 500;
    color:#737373;
}

.projects>p:first-of-type,.announcements>p:first-of-type,.trending>p:first-of-type{

    font-weight:bolder;
    font-size: large;
    word-spacing: 1px;
    letter-spacing: 1px;;
}

